@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  background-image: url("/slider_img03.jpg");
  background-size: cover;
  background-position: center;
  /* min-height: 100vh; */

}
.bg {
  content: "";
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  z-index: 0;
}

.card { 
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
  /* height: 300px;  */
  border-radius: 5px; 
  backdrop-filter: blur(14px); 
  background-color: rgba(255, 255, 255, 0.2); 
  padding: 10px; 
  text-align: center; 
} 

.card img { 
  height: 60%; 
}










@media screen and (max-width: 1024px) {
  main {
    margin: 3rem 0 0 0;
  }
}